canvas {
  border: 1px solid black;
  cursor: none
}

.buttons {
  text-align: center;
  padding: 5px;
  width: 792px;
  position: absolute;
}

button {
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  color: #fff;
  font-family: Tahoma;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

#zoom-in, #zoom-out {
  background-repeat: no-repeat;
  height: 28px;
  width: 37px;
  vertical-align: middle;
  background-position: 10px 6px;
  top: -1px;
  position: relative;
}

.plus {
  background-image: url(img/icon_plus.png);
}

.minus {
  background-image: url(img/icon_minus.png);
  left: -4px;
  border-left: none
}

.selectors {
  position: absolute;
  padding: 10px 0 0 10px;
}

.selector {
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px
}

.selector .icon {
  width: 34px;
  height: 34px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
}

.current .icon {
  border: 1px solid rgba(61, 95, 150, 1.0);
  background-color: rgba(61, 95, 150, 0.25);
  box-shadow: 0 0 3px rgba(61, 95, 150, 0.75)
}

.static .icon {
  background-image: url(img/static_block.png);
}

.dynamic .icon {
  background-image: url(img/dynamic_block.png);
}

.selector .bound-key {
  position: absolute;
font-family: Tahoma;
font-size: 9px;
color: #fff;
margin-top: -35px;
margin-left: 6px;
}

.selector .caption {
  color: #fff;
  font-family: Tahoma;
  font-size: 10px;
  font-weight: 700
}

.game-box {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  -webkit-user-select: none;
}

.headline {
  font-size: 24px;
  text-align: center;
  font-family: Tahoma;
  margin-bottom: 10px;
}

.level-rating {
  background-image: url(img/star.png);
  background-color: black;
  background-size: 100px 100px;
  width: 300px;
  height: 100px;
}

.rating-mask {
    position: absolute;
    right: 0px;
    top: 250px;
    background: black;
    width: 100px;
    height: 100px;
}

.rating-wrap {
    position: absolute;
    padding-top: 250px;
    padding-left: 250px;
}

.light-box {
    width: 800px;
    height: 600px;
    position: relative;
    top: -600px;
    background: rgba(0,0,0,0.8);
}

.hidden {
    display: none;
}

.s-1 {
    width: 200px;
}

.s-2 {
    width: 100px;
}

.s-3 {
    width: 0;
}

.level-controls {
    width: 800px;
    text-align: center;
    position: absolute;
    top: 360px;
}

.final-rating-wrap {

}