canvas {
    border: 1px solid black;
    cursor: none
}

.buttons {
  text-align: center;
  margin-bottom: 8px
}

.game-box {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    -webkit-user-select: none
}

.caption {
    font-size: 24px;
    text-align: center;
    font-family: Tahoma;
    margin-bottom: 10px
}